
<div id="app">
  <div class="row content">
    <div class="col-9">
      <h-board></h-board>
    </div>
    <div class="col-3">
      <h-mtab></h-mtab>
    </div>
  </div>
  <div class="row bottom-bar">
    <div class="col-4">
    </div>
    <div class="col-8">
      <h-send></h-send>
    </div>
  </div>
</div>
