.whiteboard[data-v-218c6b79] {
  border: 1px solid #ddd;
  width: 100%;
  height: 100%;
  background-color:whitesmoke;
}
.colors[data-v-218c6b79] {
  position: absolute;
}
.color[data-v-218c6b79] {
  display: inline-block;
  height: 42px;
  width: 42px;
}
.color.black[data-v-218c6b79] { background-color: black; }
.color.red[data-v-218c6b79] { background-color: red; }
.color.green[data-v-218c6b79] { background-color: green; }
.color.blue[data-v-218c6b79] { background-color: blue; }
.color.yellow[data-v-218c6b79] { background-color: yellow; }