/* Phoenix flash messages */
.alert:empty { display: none; }

/* Phoenix inline forms in links and buttons */
form.link, form.button {
  display: inline;
}

body {
  overflow-y: hidden;
}
.container-fluid {
  height: 100%;
  min-height: 100%;
}

#main {
  height: 100%;
  margin-top: 1rem;
}

.content {
  flex: 1;
}

.bottom-bar {
  bottom: 0.3rem;
}
