/* Phoenix flash messages */
.alert:empty {
  display: none;
}
.alert {
  margin-top: 1rem;
}

/* Phoenix inline forms in links and buttons */
form.link, form.button {
  display: inline;
}

body {
  /* overflow-y: hidden; */
}
.container-fluid {
  height: 100%;
  min-height: 100%;
}

#main {
  height: 100%;
}

.content {
  flex: 1;
}
